
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTrafficMeasurementsLabel" data-translate="sscappApp.trafficMeasurements.home.createOrEditLabel">Create or edit a Traffic Measurements</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.trafficMeasurements.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.trafficMeasurements.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.startTime" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" datetime-picker="{{dateformat}}" ng-model="vm.trafficMeasurements.startTime" is-open="vm.datePickerOpenStatus.startTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.end_time" for="field_end_time">End Time</label>
                <div class="input-group">
                    <input id="field_end_time" type="text" class="form-control" name="end_time" datetime-picker="{{dateformat}}" ng-model="vm.trafficMeasurements.end_time" is-open="vm.datePickerOpenStatus.end_time"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('end_time')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.asset_uuid" for="field_asset_uuid">Asset Uuid</label>
            <input type="number" class="form-control" name="asset_uuid" id="field_asset_uuid"
                    ng-model="vm.trafficMeasurements.asset_uuid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.asset_description" for="field_asset_description">Asset Description</label>
            <input type="text" class="form-control" name="asset_description" id="field_asset_description"
                    ng-model="vm.trafficMeasurements.asset_description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.event_type" for="field_event_type">Event Type</label>
            <input type="text" class="form-control" name="event_type" id="field_event_type"
                    ng-model="vm.trafficMeasurements.event_type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.counter_direction" for="field_counter_direction">Counter Direction</label>
            <input type="number" class="form-control" name="counter_direction" id="field_counter_direction"
                    ng-model="vm.trafficMeasurements.counter_direction"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.counter_direction_speed" for="field_counter_direction_speed">Counter Direction Speed</label>
            <input type="number" class="form-control" name="counter_direction_speed" id="field_counter_direction_speed"
                    ng-model="vm.trafficMeasurements.counter_direction_speed"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.counter_direction_vehicle_count" for="field_counter_direction_vehicle_count">Counter Direction Vehicle Count</label>
            <input type="number" class="form-control" name="counter_direction_vehicle_count" id="field_counter_direction_vehicle_count"
                    ng-model="vm.trafficMeasurements.counter_direction_vehicle_count"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.speed" for="field_speed">Speed</label>
            <input type="number" class="form-control" name="speed" id="field_speed"
                    ng-model="vm.trafficMeasurements.speed"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.vehicle_count" for="field_vehicle_count">Vehicle Count</label>
            <input type="number" class="form-control" name="vehicle_count" id="field_vehicle_count"
                    ng-model="vm.trafficMeasurements.vehicle_count"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sscappApp.trafficMeasurements.timestamp" for="field_timestamp">Timestamp</label>
                <div class="input-group">
                    <input id="field_timestamp" type="text" class="form-control" name="timestamp" datetime-picker="{{dateformat}}" ng-model="vm.trafficMeasurements.timestamp" is-open="vm.datePickerOpenStatus.timestamp"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timestamp')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
