
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrganizationLabel" data-translate="rearviewSandiegoApp.organization.home.createOrEditLabel">Create or edit a Organization</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.organization.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.organization.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rearviewSandiegoApp.organization.orgUuid" for="field_orgUuid">Org Uuid</label>
            <input type="number" class="form-control" name="orgUuid" id="field_orgUuid"
                    ng-model="vm.organization.orgUuid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rearviewSandiegoApp.organization.orgName" for="field_orgName">Org Name</label>
            <input type="text" class="form-control" name="orgName" id="field_orgName"
                    ng-model="vm.organization.orgName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rearviewSandiegoApp.organization.orgDescription" for="field_orgDescription">Org Description</label>
            <input type="text" class="form-control" name="orgDescription" id="field_orgDescription"
                    ng-model="vm.organization.orgDescription"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
